In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
# 데이터 분석하기
# 그룹집계(Group Aggregate)
# 1) 그룹집계의 개념
# 2) groupby() 함수를 활용한 그룹집계
# 3) pivot_table() 함수를 활용한 그룹집계

In [ ]:
# 그룹집계
# 데이터를 특정 속성의 값으로 그룹핑하여 집계를 수행함
# 특정 컬럼의 값을 기준으로 데이터를 그룹핑하여 그룹별로 집계하는 방식은 많이 활용된다.(e.g. sum, max, min, mean, std 등)
# 전체 판매량을 구하려면?
# data.sum()
# 제품별 판매량을 구하려면?
# data[data.제품명 == 'A'].sum()
# data[data.제품명 == 'B'].sum()
# data[data.제품명 == 'C'].sum()

In [ ]:
# SQL 구문의 GROUP BY 연산과 유사
# 그룹 분석을 하는 방법
# 1) group by
# groupby 컬럼의 값으로 데이터들을 그룹핑함
# 집계 함수 수행(e.g. sum)
# 집계 함수 적용(sum, mean, max, min, std, var 등 연산 가능)
# 복수 개의 컬럼 지정도 가능, 리스트로 나열
# data.groupby('제품명')['판매량'].sum()

In [2]:
# 실습 데이터 적재
# 도시의 자치구별, 연도별, 남자인구와 여자인구 그리고 총인구
data = pd.read_excel('data/인구수예제.xlsx')
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구
0  서울  강남구  2016    61    70  131
1  서울  강남구  2017   119   116  235
2  서울  강남구  2018   134   141  275
3  서울  강남구  2019   119   116  235
4  서울  강남구  2020   115   144  259

In [3]:
# 실습 1. 연도별 총인구수 구하기
# 연도별로 그룹핑
# groupby 인자에 그룹핑할 기준 컬럼인 '연도' 컬럼을 지정
# 총인구 컬럼의 합(sum) 수행
data.groupby('연도')['총인구'].sum()

연도
2016    2427
2017    2308
2018    2382
2019    2193
2020    2332
Name: 총인구, dtype: int64

In [4]:
# 실습 2. 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기
# 연도별로 그룹핑 후 남자인구, 여자인구, 총인구를 리스트로 전달
data.groupby('연도')[['남자인구', '여자인구', '총인구']].sum()

      남자인구  여자인구   총인구
연도
2016  1269  1158  2427
2017  1167  1141  2308
2018  1210  1172  2382
2019  1053  1140  2193
2020  1218  1114  2332

In [5]:
# 실습 3. 자치구별로 평균 총인구수 구하기
# 자치구별로 그룹핑 후, 총인구수의 평균 구하기
# 같은 자치구의 이름이 다른 도시에 있을 수 있기 때문에 도시와 자치구별로 구해야 함
# groupby 인자에 도시, 자치구를 리스트로 담아서 전달
data.groupby(['도시', '자치구'])['총인구'].mean()

도시  자치구
부산  동래구     214.2
    수영구     188.6
    중구      193.4
    해운대구    213.0
서울  강남구     227.0
    도봉구     176.2
    동작구     150.6
    서대문구    171.8
    송파구     197.8
    영등포구    228.4
    종로구     189.0
    중구      178.4
Name: 총인구, dtype: float64

In [6]:
# 실습 4.도시/자치구별 평균 총인구수 구하기
data.groupby(['도시', '자치구'])['총인구'].mean()

도시  자치구
부산  동래구     214.2
    수영구     188.6
    중구      193.4
    해운대구    213.0
서울  강남구     227.0
    도봉구     176.2
    동작구     150.6
    서대문구    171.8
    송파구     197.8
    영등포구    228.4
    종로구     189.0
    중구      178.4
Name: 총인구, dtype: float64

In [7]:
# 실습 5. 도시/자치구별 평균 남자인구와 여자인구수 구하기
# 남자인구, 여자인구를 리스트로 담아 전달
# groupby의 columns과 집계하고자 하는 columns을 리스트로 담아 여러 개를 전달할 수 있음
# 집계 함수를 동시에 여러 개 사용할 수는 없음
data.groupby(['도시', '자치구'])[['남자인구', '여자인구']].mean()

          남자인구   여자인구
도시 자치구
부산 동래구    91.4  122.8
   수영구    90.2   98.4
   중구     97.2   96.2
   해운대구  107.2  105.8
서울 강남구   109.6  117.4
   도봉구   101.8   74.4
   동작구    87.4   63.2
   서대문구   82.0   89.8
   송파구   115.2   82.6
   영등포구  112.8  115.6
   종로구    75.8  113.2
   중구    112.8   65.6

In [9]:
# 실습 6. 도시별, 연도별로 총인구수 출력
# groupby 함수에 도시, 연도를 인자로 담고, 총인구의 합을 구함
# columns index 계층 색인으로 변경
# unstack에 레벨 0또는 '도시'명명
data.groupby(['도시', '연도'])['총인구'].sum().unstack('도시')

도시     부산    서울
연도
2016  832  1595
2017  791  1517
2018  790  1592
2019  737  1456
2020  896  1436

<img src="img/8강/그룹분석_pivottable.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [ ]:
# groupby : 집계 결과를 보기 좋게 하기 위해 stack이나 unstack 등의 구문을 추가로 작성해야 되는 경우가 있음
# pivot_table : 매우 직관적임

In [12]:
# 실습 2. 연도별 전체의 남자인구, 여자인구, 총인구 수와 평균 구하기
# pivot_table() : groupby 컬럼이 1개(연도)이므로, index나 columns 인자 중 하나만 사용
# 집계 함수를 2개 이상 사용 가능(리스트 형태)
data.pivot_table(index = '연도', aggfunc = ['sum', 'mean'], values = ['남자인구', '여자인구', '총인구'])

       sum                    mean
      남자인구  여자인구   총인구        남자인구       여자인구         총인구
연도
2016  1269  1158  2427  105.750000  96.500000  202.250000
2017  1167  1141  2308   97.250000  95.083333  192.333333
2018  1210  1172  2382  100.833333  97.666667  198.500000
2019  1053  1140  2193   87.750000  95.000000  182.750000
2020  1218  1114  2332  101.500000  92.833333  194.333333

In [10]:
# 깔끔하게 도시별, 연도별 총인구의 sum을 구할 수 있음
# 실습 6. 도시별, 연도별로 총인구수 출력
data.pivot_table(index = '연도', columns = '도시', aggfunc = 'sum', values = '총인구')

도시     부산    서울
연도
2016  832  1595
2017  791  1517
2018  790  1592
2019  737  1456
2020  896  1436

In [19]:
# 실습 7. 자치구 별로 남자인구의 평균을 구한 후, 남자 인구가 가장 많은 도시 및 자치구 Top 5 찾기
# 평균 구하기
# index : ['도시', '자치구']
# columns : X
# 남자인구에 평균(mean) 적용
# Top 5 찾기(정렬)
# sort_values : 내림차순으로 남자인구 정렬하고 head(5)
# 역슬래스(\)는 하나의 구문을 줄바꿈할 때 사용하며, 구문이 콤마로 구분되는 경우에는 역슬래시(\) 없이 줄바꿈 가능
data.pivot_table(index = ['도시', '자치구'], aggfunc = 'mean', values = '남자인구')\
                .sort_values(by = '남자인구', ascending = False).head()

          남자인구
도시 자치구
서울 송파구   115.2
   영등포구  112.8
   중구    112.8
   강남구   109.6
부산 해운대구  107.2

In [20]:
# 실습 8. 여자가 남자보다 많은 도시/자치구 상위 3개 찾기 
# 여자가 남자보다 많은 도시 찾기(5년 평균)
# 여자와 남자 인구 차이를 계산하여 새로운 columns(남녀차이) 추가
# + : 여자 인구가 많은 곳, - : 여자 인구가 적은 곳
data['남녀차이'] = data.여자인구 - data.남자인구
data

    도시   자치구    연도  남자인구  여자인구  총인구  남녀차이
0   서울   강남구  2016    61    70  131     9
1   서울   강남구  2017   119   116  235    -3
2   서울   강남구  2018   134   141  275     7
3   서울   강남구  2019   119   116  235    -3
4   서울   강남구  2020   115   144  259    29
5   서울  서대문구  2016   114    95  209   -19
6   서울  서대문구  2017    60    93  153    33
7   서울  서대문구  2018    55   100  155    45
8   서울  서대문구  2019   107    99  206    -8
9   서울  서대문구  2020    74    62  136   -12
10  서울   종로구  2016    90   120  210    30
11  서울   종로구  2017   117   127  244    10
12  서울   종로구  2018    61   146  207    85
13  서울   종로구  2019    61    72  133    11
14  서울   종로구  2020    50   101  151    51
15  서울  영등포구  2016   139   145  284     6
16  서울  영등포구  2017    92   134  226    42
17  서울  영등포구  2018   143   112  255   -31
18  서울  영등포구  2019    69    69  138     0
19  서울  영등포구  2020   121   118  239    -3
20  서울   송파구  2016   102    86  188   -16
21  서울   송파구  2017    95    76  171   -19
22  서울   송파구  2018   128    77  205   -51
23  서울   송파구  2019   143    92  235   -51
24  서울   송파구  2020   108    82  190   -26
25  서울   도봉구  2016   122    94  216   -28
26  서울   도봉구  2017    69    63  132    -6
27  서울   도봉구  2018   110    50  160   -60
28  서울   도봉구  2019   147    76  223   -71
29  서울   도봉구  2020    61    89  150    28
30  서울   동작구  2016    97    78  175   -19
31  서울   동작구  2017   105    73  178   -32
32  서울   동작구  2018   100    60  160   -40
33  서울   동작구  2019    53    52  105    -1
34  서울   동작구  2020    82    53  135   -29
35  서울    중구  2016   114    68  182   -46
36  서울    중구  2017   124    54  178   -70
37  서울    중구  2018   115    60  175   -55
38  서울    중구  2019    90    91  181     1
39  서울    중구  2020   121    55  176   -66
40  부산  해운대구  2016   102   145  247    43
41  부산  해운대구  2017   131    97  228   -34
42  부산  해운대구  2018    51    64  115    13
43  부산  해운대구  2019   110   114  224     4
44  부산  해운대구  2020   142   109  251   -33
45  부산   수영구  2016   135    79  214   -56
46  부산   수영구  2017    69    85  154    16
47  부산   수영구  2018    94   138  232    44
48  부산   수영구  2019    53    70  123    17
49  부산   수영구  2020   100   120  220    20
50  부산   동래구  2016    82    79  161    -3
51  부산   동래구  2017   107   145  252    38
52  부산   동래구  2018   113   127  240    14
53  부산   동래구  2019    51   148  199    97
54  부산   동래구  2020   104   115  219    11
55  부산    중구  2016   111    99  210   -12
56  부산    중구  2017    79    78  157    -1
57  부산    중구  2018   106    97  203    -9
58  부산    중구  2019    50   141  191    91
59  부산    중구  2020   140    66  206   -74

In [23]:
# index : 도시, 자치구
# 남녀차이 columns의 평균 구하기
# - : 남자 인구가 많은 곳, + : 여자 인구가 많은 곳
# 상위 3개 찾기(정렬)
# sort_values를 이용하여 남녀차이로 내림차순하여 head(3)
data.pivot_table(index = ['도시', '자치구'], aggfunc = 'mean', values = '남녀차이')\
.sort_values(by = '남녀차이', ascending = False).head(3)

        남녀차이
도시 자치구
서울 종로구  37.4
부산 동래구  31.4
   수영구   8.2